.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 33px;
  height: 50vh;
  text-align: left;
  font-size: calc(10px + 2vmin);
  border: 5px solid rgba(36,36,128,0.801);
  margin: 1rem;

}

.errors{
  background-color: red;
}

.button-styles{
  width:100%;
  display:flex;
  justify-content: center;
}

/* .submit-button{
  text-decoration: none;
  width: 100px;
  background-color: cadetblue;
}
a:hover{
  background-color: darkcyan;
} */

